<h1>Merchants</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Amount</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
