<br>
<br>
<h1>New Merchant</h1>
<label class="center">
  Add a Merchant
<form class="center" action="/merchants" method="post">
  <label for="name">Merchant Name:</label>
  <input type="text" name="name" id="name">
  <input class="btn" type="submit" value="Add Merchant">


  </form>
