<br>
<br>
<h1 class="main">Spending Tracker</h1>
<table class="center">
  <tr>

  </tr>
  <tr>

  </tr>
</table>


<table class="center">
  <th>
  <form action="/transactions" method="get">
    <input class="btn" type="submit" value="Transaction List">
  </form>
  </th>
  <th>
    <form action="/transactions/new" method="get">
      <input class="btn" type="submit" value="Add Transaction">
    </form>
  </th>
</table>
