<h1>Spending Tracker</h1>
<table class="center">

</table>

<table class="center">
  <th>
    <a href="/transactions">Transaction List</a>
  </th>
  <th>
    |
  </th>
  <th>
    <a href="/transactions/new">Add Transaction</a>
  </th>
</table>
