body {
  background: white url('/images/animation.gif');
  background-size: 60%;
  background-position: center;
  background-repeat: round;
  font-family: Helvetica;
  color: blue;
}

body.center {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px
}

h1 {
  background-color: lightblue;
  text-align: center;
  border: 2px solid blue;
  border-radius: 4px;
  font-size: 40px
}

h1.main {
  background-color: lightblue;
  text-align: center;
  height: 100px;
  border: 2px solid blue;
  border-radius: 4px;
  font-size: 80px
}

a.center {
  display: block;
  width: 200px;
  margin: 4px;
  padding: 2px;
  text-align: center;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 4px;
  background-color: lightblue;
  text-decoration: none;
}

ul.nav {
  list-style-type: none;
  padding-left: 220px
}

li {
  float: left;
}

a {
  display: block;
  padding: 10px;
  background-color: none;
}

.active {
  background-color: none;
  color: blue;
}

p.center {
  text-align: center;
  font-size: 15px;
}

form.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 10px;
}

label.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px
}
