<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <label for="date-time">Date: </label>
  <input type="text" placeholder="DD/MM/YYYY" name="date-time" id="date_time">
  <br>
  <label>
    Select a Merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>
  <br>
  <label>
    Select Type of Transaction:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.type %></option>
      <% end %>
    </select>
    <br>
    <label for="amount">Transaction Amount: £</label>
    <input type="number" palceholder="0.00" step="0.01" name="amount" id="amount">
    <br>
    <input type='submit' value='Add Transaction'>
  </form>
